
.nav-header{
  font-size: 24px;
  font-weight: 900;
  padding: 20px;
  background-color: #61dafb;
}
.search{
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: stretch;
	align-content: stretch;
  padding: 10px 0;
}
.card{
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: stretch;
	align-content: stretch;
  padding: 10px 0;
}
.result{
  padding: 20px;
}
.owner {
  font-size: 24px;
    padding: 20px 0 20px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: flex-start;
}
.image-avatar {
  display: flex;
  flex-direction: column;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: flex-start;
}
.owner span{
  font-weight: bold;
}
.ui.card:first-child {
  margin: 1em 0 !important;
}
.ui.card:last-child {
  margin: 1em 0 !important;
}
a.no-show {
  display: none;
}
label.no-show {
  display: none;
}
.owner label {
  padding-right: 10px;
}